@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

/* 
@author Tomas Sedlak
@last-modified 2025/02/18
*/
body {
    margin: 0;
    padding: 0;
    flex-direction: row-reverse;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
html {
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: .625vw;
    background-color: white;
}
::-webkit-scrollbar-track {
    background: white;
}
::-webkit-scrollbar-thumb {
    background: rgb(190, 190, 190);
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(44, 43, 43);
}
section {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1.25rem 0 0 0;
}
header {
    /* padding: 0 5.208vw; */
    width: 80%;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.marena {
    width: auto;
    height: 4.5vh;
}
ul {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
}
ul li {
    list-style: none;
    margin: 0px .3rem;
}
ul li a {
    position: relative;
    display: block;
    padding: .4rem .95rem;
    margin: .4rem 0;
    text-decoration: none;
    color: rgb(59, 59, 59);
    font-size: 1.438rem;
}
ul li a:hover { 
    color: #131313;
}
.underline::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: .2vh;
    background-color: #636260;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}
@media (hover: hover) and (pointer: fine) {
    .underline:hover::before{
    left: 0;
    right: auto;
    width: 100%;
    background-color: #131313;
    }
}
.profile {
    display: flex;
    background-color: transparent;
    height: 90vh;
}
.profile_box {
    background-color: transparent;   
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 15vh;
}
.img_box {
    width: auto;
    height: auto;
    background-color: transparent;
    border-radius: 100%;
}
.profile_box img {
    width: 25vw;
    height: auto;
    border-radius: 100%;
}
.greetings {
    color: #636260;
    font-style: normal;
    font-weight: 400;
    font-family: "Sora", sans-serif;
}
.name_box {
    width: 80%;
    height: auto;
    font-size: 2.8rem;
    font-weight: 600;
    padding: 0;
    margin: 0;
}
/* @keyframes typing {
    from {
        width: 0%;
    }
    to {
        width: 105%;
    }
} */
.section_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.social_box {
    display: flex;
    padding: 1.5rem;
    gap: 1.25rem;
}
.socialContainer {
    width: 3.125rem;
    height: 3.125rem;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
    border-radius: 3.125rem;
}
/* instagram */
.ContainerOne:hover {
    background-color: #d62976;
    transition-duration: .9s;
}
  /* facebook */
.ContainerTwo:hover {
    background-color: #00acee;
    transition-duration: .9s;
}
/* github */
.ContainerThree:hover {
    background-color: #ed1c51;
    transition-duration: .9s;
}
.socialContainer:active {
    transform: scale(0.9);
    transition-duration: 0.9s;
}
.socialSVG {
    width: 2rem;
    height: 2rem;
}  
.socialSVG path, circle {
    fill: rgb(255, 255, 255);
}
.socialContainer:hover .socialSVG {
    animation: slide-in-top 0.3s both;
}
@keyframes slide-in-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
h2 {
    text-transform: uppercase;
    letter-spacing: 1;
    font-size: 1.625rem;
    margin: 0;
    margin-top: 5vh;
}
hr {
    background-color: black;
    width: 250px;
    height: 0.2vh;
    border: 0;
    margin-bottom: 3vh;
}
.main_container { 
    width: 80%;    
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: transparent;
    font-family: "Poppins", sans-serif;
}
.components_container, .accessories_container, .dailytech_container {
    background-color: transparent;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 3rem;
} 
.components_container .components_imgbox, .accessories_container .accessories_imgbox, .dailytech_container .dailytech_imgbox {
    position: none;
    display: flex;
    height: auto;
}
.components, .accessories, .dailytech {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}
.components div, .accessories div, .dailytech div {
    width: 100%;
    padding: 0;
    margin: 0;
    padding-top: 0;
}
.components div p:nth-child(1), .accessories div p:nth-child(1), .dailytech div p:nth-child(1) {
    color: grey;
    font-size: .813rem;
    margin: 0;
}
.components div p:nth-child(2), .accessories div p:nth-child(2), .dailytech div p:nth-child(2) {
    color: black;
    font-weight: bold;
    font-size: .938rem;
    margin-top: .125rem;
    margin-bottom: .625rem;
}
.components div p:nth-child(3), .accessories div p:nth-child(3), .dailytech div p:nth-child(3) {
    color: rgb(29, 144, 252);
    font-weight: bold;
    font-size: .875rem;
    margin: 0;
}
.components p, .accessories p, .dailytech p {
    text-align: left;
}
.components_container .components_imgbox .components, .accessories_container .accessories_imgbox .accessories, .dailytech_container .dailytech_imgbox .dailytech {
    position: none;
    overflow: hidden;
    border: 1px solid rgb(228, 228, 228);
    max-width: 365px;
}
.components_container .components_imgbox .components:hover, .accessories_container .accessories_imgbox .accessories:hover, .dailytech_container .dailytech_imgbox .dailytech:hover {
    transition: 0.5s;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.components img, .accessories img, .dailytech img {
    mix-blend-mode: multiply;
    aspect-ratio: 4/3;
    object-fit: contain;
    width: 60%;
    height: auto;
    max-width: 360px;
    padding: 2rem 1rem;
}
.components img:hover, .accessories img:hover, .dailytech img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}
footer {
    margin: .313rem .313rem 1.625rem .313rem;
    font-size: .5rem;
    text-align: center;
    color: lightgray;
}
footer hr {
    background-color: lightgray;
    width: 5.208vw;
    height: 0.1vh;
    margin-bottom: .125rem;
    margin-top: 3.125;
}
.hamburger{
    display: none;
    cursor: pointer;
}
/* .bar{
    display: block;
    width: 30px;
    height: 5px;
    margin: .313rem auto;
    transition: all 0.3s ease;
    background-color: rgb(29, 29, 29);
}  */
.hamburger {
    cursor: pointer;
}
.hamburger input {
    display: none;
}
.hamburger svg {
    height: 3rem;
    transition: transform .1s cubic-bezier(0.4, 0, 0.2, 1);
}
.line {
    fill: none;
    stroke: #2c2c2c;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2;
    /* transition: stroke-dasharray .3s cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset .3s cubic-bezier(0.4, 0, 0.2, 1); */
}
.line-top-bottom {
    stroke-dasharray: 12 63;
}
.hamburger input:checked + svg {
    transform: rotate(-45deg);
}
.hamburger input:checked + svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}

/* phones */
@media (max-width: 480px) {
    section{
        padding: 0;
        margin: 0;
    }
    .profile{
        flex-direction: column;
        margin-top: 6rem;
    }
    .profile_box{
        flex-direction: column;
        gap: 3rem;
    }
    .img_box img{
        width: 65vw;
    }
    .main_container{
        width: 90%;
    }
    .components_container, .accessories_container, .dailytech_container{
        flex-direction: column;
    }
    header{
        background-color: #f6f6f6;
        padding: 0;
        width: 90%;
    }
    .hamburger{
        display: block;
    }
    .nav_menu{
        display: none;
    }
    .nav_menu.active{
        display: block;
        position: absolute;
        width: 100%;
        top: 65px;
        background-color: #f6f6f6;
        left: 0;
        text-align: center;
        box-shadow: 0px 10px 7px -5px rgba(0,0,0,0.19);
    }
    .nav_menu li{
        padding: .313rem;
    }
    .nav_menu li:hover{
        background-color: rgb(225, 225, 225);
    }
}
/* Low resolution tablets */
@media (min-width: 481px) and (max-width: 820px) {
    section{
        padding: 0;
        margin: 0;
    }
    .profile{
        flex-direction: column;
        height: 95vh;
        margin-top: 5.5rem;
    }
    .profile_box{
        flex-direction: column;
        gap: 3rem;
    }
    .img_box img{
        width: 55vw;
    }
    .main_container{
        width: 90%;
    }
    .components_container, .accessories_container, .dailytech_container{
        flex-direction: row;
    }
    header{
        background-color: #f6f6f6;
        padding: 0;
        width: 90%;
    }
    .hamburger{
        display: block;
    }
    .nav_menu{
        display: none;
    }
    .nav_menu.active{
        display: block;
        position: absolute;
        width: 100%;
        top: 65px;
        background-color: #f6f6f6;
        left: 0;
        text-align: center;
        box-shadow: 0px 10px 7px -5px rgba(0,0,0,0.19);
    }
    .nav_menu li{
        padding: .313rem;
    }
    .nav_menu li:hover{
        background-color: rgb(225, 225, 225);
    }
}
/* Tablets in portrait mode */
@media (min-width: 821px) and (max-width: 1024px) {
    .profile{
        height: 90vh;
        gap: 0;
    }
    .profile_box{
        flex-direction: row;
        gap: 0;
        margin: 0;
        padding: 0;
    }
    .img_box img{
        width: 35vw;
    }
    .main_container{
        width: 90%;
    }
    .components_container .components_imgbox, .accessories_container .accessories_imgbox, .dailytech_container .dailytech_imgbox {
        width: 50%;
    }
    .components_container, .accessories_container, .dailytech_container{
        flex-direction: row;
    }
    header{
        background-color: #f6f6f6;
        padding: 0;
        width: 90%;
    }
    .hamburger {
        display: none;
    }
}